{% extends "basic.html" %} {% block head %}
{% endblock %}{% block title %}Betfair Master{% endblock %} {% block body %}
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="navbar-header active">
                <a href="/" class="navbar-brand active">Betfair Master</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome back, {{ name }}!<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-dismissable alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="jumbotron well">
                <h2>
                    Greetings, {{ name }}!
                </h2>
                <p>
                    Races for today:<h1>{{ races }}</h1>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            <div class="form-group text-center">
                  <label for="sel1">Select update time:</label>
                  <select class="form-control" id="sel1">
                    <option>5</option>
                    <option>10</option>
                    <option>30</option>
                    <option>60</option>
                  </select>
            </div>
        </div>
        <div class="col-md-4">
        </div>
            <button id="btn-start" type="button" class="btn btn-success btn-lg btn-block">START</button>
            <button id="btn-update" type="button" class="btn btn-warning btn-lg btn-block">MANUAL UPDATE</button>
            <button id="btn-stop" type="button" class="btn btn-danger btn-lg btn-block">STOP</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
        <hr \>
<table class="table table-bordered table-hover table-condensed" id="data-table">
    <thead>
        <tr>
                    <th>
                        Venue
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Horse
                    </th>
                    <th>
                        Race
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Back
                    </th>
                    <th>
                        Lay
                    </th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    </div>
</div>
<script>
$(document).ready(function(e) {
    document.getElementById("btn-stop").classList.add('disabled');

    function getValue(){
        var value= $.ajax({
            url: 'compare.json',
            async: false,
            dataType: "jsonp",
        }).responseText;
        return JSON.parse(value);
        };

    function loadTable(tableId, fields, data) {
        var rows = '';
        $.each(data, function(index, item) {
            if(item['Price'] > 1)
            var row = '<tr class="success">';
            else
            var row = '<tr>';
            $.each(fields, function(index, field) {
                row += '<td>' + item[field+''] + '</td>';
            });
            rows += row + '<tr>';
        });
        $('#' + tableId + ' tbody').html(rows);
    }


    $('#btn-start').click(function(e) {
        document.getElementById("btn-start").classList.add('disabled');
        document.getElementById("btn-stop").classList.remove('disabled');
        if (typeof myTimeout !== 'undefined')
        clearInterval(myTimeout);
        window.myTimeout = window.setInterval(function(){
         loadTable('data-table', ['Venue', 'Time', 'Horse', 'Race', 'Price', 'Update', 'Back', 'Lay'], getValue());
     }, parseInt($("#sel1").val() + '000'));
    });

    $('#btn-update').click(function(e) {
        loadTable('data-table', ['Venue', 'Time', 'Horse', 'Race', 'Price', 'Update', 'Back', 'Lay'], getValue());
    });

    $('#btn-stop').click(function(e) {
        if (typeof myTimeout !== 'undefined'){
        document.getElementById("btn-stop").classList.add('disabled');
        document.getElementById("btn-start").classList.remove('disabled');
        clearInterval(myTimeout);
    }
    });

});
</script>
{% endblock %}
